.container {
	left: 0;
	width: 100%;
	position: fixed;
	display: table;
	table-layout: fixed;
}
.progressbar {
	background-color: cadetblue;
	height: 5px;
	border-radius: 4px;
	overflow: hidden;
	display: table-cell;
	width: 0%;
	float: left;
}
.progressbar.progress {
	height: 20px;
}

.img {
	float: left;
	height: 20px;
	display: table-cell;
}

.loadingBox {
	left: 0;
	width: 100%;
	height: 0.4em;
	position: fixed;
	display: flex;
	table-layout: fixed;
	justify-content: center;
	align-items: center;
}

.loading {
	position: fixed;
	margin: auto;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: dashed 6px cadetblue;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.loadingImg {
	height: 25px;
	position: fixed;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
